<html>
  {{template "header.tmpl.html"}}
<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Go Requestor</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li><a href="/ip">IP</a></li>
        <li><a href="/referer">Referer</a></li>
        <li><a href="/user-agent">User Agent</a></li>
        <li><a href="/ip?referer=1">IP with Referer</a></li>
        <li><a href="/ip?referer=1&user-agent=1">IP with Referer and User-agent</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
